{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>

    </style>
</head>
<nav>
    <img src="{% static 'appStatic/mango.png' %}" alt="Mango" />
    <br>
    <a href="{% url "add" %}">Add</a>
    <a href="">Favorites</a>
    <a href="{% url "home" %}">Home</a>
    <br>
    <a href="{% url "favorites" %}">Favorites</a>
    <br>
    <form action="{% url "filtered" %}" method="get">
        {% csrf_token %}
        <input type="text" name="filtro"><button>Filtrar</button>
    </form>
</nav>

<body>
    {% block content %}

    {% endblock %}
</body>

</html>