<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>Hola {{ username }}, estos son algunos de tus datos:</p>
    <br />
    <table>
      <tr>
        <th>Datos</th>
        <th></th>
      </tr>
      <tr>
        <td>Password</td>
        <td>{{ password }}</td>
      </tr>
      <tr>
        <td>City</td>
        <td>{{ city }}</td>
      </tr>
      <tr>
        <td>Web Server</td>
        <td>{{ optionSelected }}</td>
      </tr>
      <tr>
        <td>Role</td>
        <td>{{ role }}</td>
      </tr>
      <tr>
        <td>Sign-on</td>
        <td>{{ signon }}</td>
      </tr>
    </table>
  </body>
</html>
