{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<style>
img {
        width: 30vh;
        height: 20vh;
    }
</style>
<nav>
    <img src="{% static 'app/img.png' %}" alt="Icon" /><br>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'add-product' %}">Add product</a>
</nav>

<body>
<form action="{% url 'search' %}" method="GET">
    <input type="text" name="q" placeholder="Buscar productos...">
    <button type="submit">Buscar</button>
</form>

    {% block content %} {% endblock %}
</body>

</html>