{% extends "blogHtmls/base.html" %}
{% block content %}
{% load static %}

<div class="post-container">
    <h1>{{ post.title }}</h1>
    <p>{{ post.excerpt }}</p>
    <img src="{{ post.image_name.url }}" alt="imagen">
    <p>{{ post.image_name }}</p>
    <p>{{ post.content }}</p>

    <h2>Information about the author:</h2>
    <h3>{{ post.author.first_name }}</h3>
    <h3>{{ post.author.last_name }}</h3>
    <p>Email: <a href="mailto:{{ post.author.email }}">{{ post.author.email }}</a></p>

    <div class="tags">
        {% for tag in post.tags.all %}
        <a href="#">{{ tag }}</a>
        {% endfor %}
    </div>

    <div>
        <form action="" method="post">
            {% csrf_token %}
            {{comment_form.as_p}}
            <input type="submit" value="Send comment">
        </form>
    </div>

    <div class="comments">
        <h2>Comments</h2>
        {% for comment in comments %}
            <ul>
                <li>{{comment.user_name}}</li>
                <li>{{comment.user_email}}</li>
                <li>{{comment.text}}</li>
            </ul>
        {% endfor %}
    </div>

</div>

{% endblock %}