<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Results</title>
</head>

<!-- tenemos que poner todas las variables que queramos mostrar -->
<!-- si no pilla las variables, cambiar tipo de documento a django html -->

<body>
  <p>Username: {{ username }}</p>
  <br />
  <p>Password: {{ password }}</p>
  <br />
  <p>City: {{city }}</p>
  <br />
  <p>Role: {{ role }}</p>
  <br />
  <p>OptionSelected: {{ optionSelected }}</p>
  <br />
  <p>Value: {{ valueRadio }}</p>
  <br />
</body>

</html>